{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ "Login" | translate }}</h5>

        <form method="POST" action="/login">
            <div class="mb-3">
                <label for="username" class="form-label">{{ "Username" | translate }}</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">{{ "Password" | translate }}</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">{{ "Login" | translate }}</button>
        </form>
    </div>
</div>
{% endblock %}